POLYBOT_MODE=paper
POLYBOT_LIVE_TRADING=false
POLYBOT_ACK_RISK=false
POLYBOT_DB_PATH=.polybot/polybot.sqlite3
POLYBOT_PRIVATE_KEY=
POLYBOT_FUNDER_ADDRESS=
POLYBOT_SIGNATURE_TYPE=2
POLYBOT_MAX_ORDER_NOTIONAL=10
POLYBOT_MAX_MARKET_NOTIONAL=50
POLYBOT_MAX_DAILY_LOSS=25
